/* Global Css */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f2f2f2;
  font-size: 16px;
  color: #222;
  font-weight: normal;
  letter-spacing: 0.03em;
  position: relative;
      height: 100%;
      margin: 0;
      padding: 0;
}
ul li {
  list-style: none;
}
.row {
  position: relative;
}


swiper-container {
      width: 100%;
      padding-top: 150px;
      padding-bottom: 150px;
    }

    swiper-slide {
      background-position: center;
      background-size: cover;
      width: 80%;
      max-width: 500px;
    }

    swiper-slide img {
      display: block;
      width: 100%;
    }
    .headerh1{
      color: rgb(5, 4, 70);
      font-size: 5rem;
      text-align: center;
      padding-top: 9rem;
    }
    .headerh1contact{
      color: rgb(5, 4, 70);
      font-size: 5rem;
      text-align: center;
      padding: 5rem;
    }
    .footer {
      background-color: #37324b;
      padding: 5em;
    }
    .footer h1 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
      font-size: 3em;
      color: #a3a1ac;
      margin-bottom: 2em;
    }
    .footer h1 span {
      color: #fff;
      font-weight: 300;
    }
    .footer h1:after {
      content: '';
      width: 80px;
      height: 4px;
      background-color: #37a7ff;
      display: block;
      position: absolute;
      left: 50%;
      transform: translate(-40px, 10px);
    }
    .footer ul.social-links li a {
      padding-left: 12px;
      padding-right: 12px;
    }
    .footer ul.social-links li a img {
      max-height: 40px;
    }
    .sub-footer {
      background-color: #322e45;
      padding: 2em;
      color: #a3a1ac;
      font-family: 'Montserrat', sans-serif;
      font-weight: 300;
    }
    .sub-footer p {
      margin: 0;
      font-size: 1.2em;
    }
    .sub-footer p a {
      color: #fff;
    }
    .sub-footer p a:hover {
      opacity: 0.8;
    }

  /* Contact page Css */
    .introparent1,.introparent3{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding-bottom: 14rem;
      }
      .introparent2{
      display: flex;
      flex-direction: row;
      flex-wrap:wrap-reverse;
      justify-content: flex-end;
      padding-bottom: 14rem;
      }
      
      .introimg1,.introimg2,.introimg3{
        
          height: auto;        
          width: 100%;        
          max-width: 100%;    
          min-width: 150px;    
          max-height: 500px;   
          min-height: 100px;   
          object-fit: cover; 
          opacity: 1;  
          transition: .5s ease;
        
        }
        

      
      .introchild2,.introchild3,.introchild6{
        padding: 2rem;
      }
      .introparent3{
        margin-bottom: 10rem;
      }
      .introh1,.introp{
        color: rgb(5, 4, 70);
      }

      iframe{
        height: 90rem;        
        width: 90rem;        
        max-width: 100%;    
        min-width: 150px;    
        max-height: 500px;   
        min-height: 100px;   
        object-fit: cover;   
      }
      .introimgcontact{
        height: 50rem;        
        width: 89rem;        
        max-width: 100%;    
        min-width: 150px;    
        max-height: 500px;   
        min-height: 100px;   
        
      }

   /* Portfolio Css */

   .secondmenu{
    text-align: center;
    font-size: 2.5rem;
    padding-top: 0;
   }